.hero-title{
  padding: 16px;
  border-bottom: 1px solid #ededed;
  max-width: 100%;
}
.hero-title h1 {
  font-size: 24px;
  font-weight: 600;
  color: #191919;
}

.main-content{
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding-top: 24px;
  max-width: 1180px;
  width: 1180px;
  margin: 0 auto;
}

.left-content-box{
  width: 33%;
  border: 1px solid #ededed;
  padding: 24px;
  border-radius: 8px;
  transition: border-color 300ms ease;
}

.left-content-box:focus-within{
  border-color: #cdcdcd ;
}

.left-content-box h2{
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  margin: 0;
  margin-bottom: 24px;
}

.right-content-box{
  width: 67%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
}