@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0px 0px 48px;
  width: 100%;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;

}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

